<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}{% endblock %}</title>
        {% block stylesheets %}
            <link rel="stylesheet" href="{{asset('css/bootstrap.css')}}">
            <link rel="stylesheet" href="{{asset('css/bootstrap-responsive.css')}}">
            <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Lato:100,300,400,700,900,100italic,300italic,400italic,700italic,900italic">
            <link rel="stylesheet" href="{{asset('css/styles.css')}}">
            <link rel="stylesheet" href="{{asset('css/toastr.css')}}">
        {% endblock %}
        {% block js %}
            <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
            <script src="{{asset('js/bootstrap.js')}}"></script>
            <script src="{{asset('js/jquery.knob.js')}}"></script>
            <script src="http://d3js.org/d3.v3.min.js"></script>
            <script src="{{asset('js/jquery.sparkline.min.js')}}"></script>
            <script src="{{asset('js/toastr.js')}}"></script>
            <script src="{{asset('js/jquery.tablesorter.min.js')}}"></script>
            <script src="{{asset('js/jquery.peity.min.js')}}"></script>
            <script src="{{asset('js/fullcalendar.min.js')}}"></script>
            <script src="{{asset('js/gcal.js')}}"></script>
            <script src="{{asset('js/setup.js')}}"></script>
        {% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
        {% block javascript %}
        {% endblock %}
    </head>
    <body>
        {% block header %}
        <!-- Defino la primer barra de navegación con logo de la empresa y link de login-->
        <div id="in-nav">
        <div class="container">
          <div class="row">
            <div class="span12">
              <ul class="pull-right">
                {% if app.user == null %}
                <li><a class='popme' data-placement="bottom" data-original-title="Login" data-content="Start a session with your user data"  href="{{url('login')}}">Login</a></li>
                {% else %}                    
                <li><strong>Usuario: {{app.user.username}}</strong></li>                
                <li><a href="{{url('logout')}}" class='popme' data-placement="bottom" data-original-title="Logout" data-content="End your current session">Logout</a></li>                
                {% endif %}
              </ul><a id="logo" href="{{ url('default_home') }}">
                <h4><strong>Mega</strong>jobs</h4></a>
            </div>
          </div>
        </div>
        </div>
        
        <!-- Defino la segunda barra de navegación con todas las funciones-->
        <div id="in-sub-nav">
        <div class="container">
          <div class="row">
            <div class="span12">
              <ul>
                <li><a class='popme' data-original-title="Home" data-content="View all job offers available to you" href="{{ url('default_home') }}"><i class="batch home"></i><br>Home</a></li>
                {% if app.user is not null and app.user.curriculum is not null and app.user.empresa is null %}
                <li><a class='popme' data-original-title="Curriculum" data-content="View and edit your CV" href="{{url('default_show_curriculum', {idCurriculum: app.user.curriculum.id})}}"><i class="batch forms"></i><br>Mi Curriculum</a></li>
                {% endif %}
                {% if app.user is null %}
                <li><a class='popme' data-original-title="Registration" data-content="Create a new account. With a new account you can create your CV and you may apply for all job offers available to you" href="{{ url('default_new_user')}}"><i class="batch users"></i><br>Registrate</a></li>
                {% endif %}
                {% if app.user is not null and app.user.empresa is not null %}
                <li><a class='popme' data-original-title="Job Offer" data-content="Create a new Job Offer. Here you can set all the data and requirements associated with a new job offer. You can also set for how long it will be visible to the site's users." href="{{ url('default_nueva_oferta_laboral')}}"><i class="batch tables"></i><br>Oferta Laboral</a></li>
                {% endif %} 
                <li><a class='popme' data-original-title="Control Panel" data-content="Review and edit all data associated with your account." href="{{ url('default_panel_empresa')}}"><i class="batch settings"></i><br>Panel de Control</a></li>
              </ul>
            </div>
          </div>
        </div>
        </div>
        {% endblock %}
        
        <!--Defino el estilo del contenedor de la página-->
        <div class="page">
            <div class="page-container">
                <div class="container">
                    <div class="row">
                        
        {% block content %}
            <!--El contenido de la página va acá-->
        {% endblock %}
            
                    </div>
                </div>
            </div>
        </div>

        {% block footer %}
        <footer>
        <div class="container">
          <div class="row">
            <div class="span12">
              <p class="pull-right">Cerutti Corporation</p>
              <p>&copy; Copyright 2013</p>
            </div>
          </div>
        </div>
        </footer>
        {% endblock %}            
    </body>
    <script>
    $(function ()  {
        $('.popme').popover(
                {
            placement: 'bottom',
            delay: { show: 500, hide: 500 },
            trigger: 'hover'});

        
    });
    </script>
</html>
