{% extends '::base.html.twig' %}

{% block content %}
<div class="span12">
    {% for flashMessage in app.session.flashbag.get('error') %}
        <div class="alert alert-error">
            <button type="button" class="close" data-dismiss="alert">×</button>
            <strong>Ooops!</strong>  {{ flashMessage }}
        </div>
    {% endfor %}
        
    {% for flashMessage in app.session.flashbag.get('exito') %}
        <div class="alert alert-success">
            <button type="button" class="close" data-dismiss="alert">×</button>
            <strong>Well done!</strong>  {{ flashMessage }}
        </div>
    {% endfor %}
</div>

<div class="span3">
    <h4>Panel de Control</h4>
    <div class="sidebar">
      <ul class="col-nav span3">
        {% if is_granted('ROLE_ADMIN') %}
        <li><a href="{{url('default_ofertas_subidas')}}"><i class="pull-right icon-file"></i>Ofertas Subidas</a></li>
        {% else %}
        <li><a href="{{url('default_show_curriculum', {idCurriculum : app.user.curriculum.id})}}"><i class="pull-right icon-list-alt"></i>Mi Curriculum</a></li>
        <li><a href="{{url('default_aplicaciones_usuario')}}"><i class="pull-right icon-edit"></i>Aplicaciones a Ofertas</a></li>           
        {% endif %}
        <li><a href="#usuario" data-toggle="collapse" class="accordion-toggle"><span class="label label-inverse pull-right">2</span>Usuario</a></li>
        <li id="usuario" class="collapse">
          <ul>
            <li>
                <a href="{{url('default_panel_empresa')}}"> <i class="pull-right icon-user"></i>Ver Datos</a>
                <a href="{{url('default_modificar_datos_empresa')}}"> <i class="pull-right icon-plus"></i>Modificar Datos</a>
            </li>
          </ul>
        </li>
      </ul>
    </div>
</div>

{% block contentPanel %}
{% endblock %}

{% endblock %}