{% extends '::base.html.twig' %}

{% block title %}Home{% endblock %}

{% block content %}
<div class="span12">
{% for flashMessage in app.session.flashbag.get('exito') %}
    <div class="alert alert-success">
        <button type="button" class="close" data-dismiss="alert">×</button>
        <strong>Well done!</strong>  {{ flashMessage }}
    </div>
{% endfor %}
        
{% for flashMessage in app.session.flashbag.get('error') %}
    <div class="alert alert-error">
        <button type="button" class="close" data-dismiss="alert">×</button>
        <strong>Oooops!</strong>  {{ flashMessage }}
    </div>
{% endfor %}
</div>

<div class="span3">
    <form class="form-horizontal" action="{{ path('default_filtrar_ofertas') }}" method="post" {{ form_enctype(form) }}>
          <h4 class="header">Filtros</h4>
          <div class="filters">
              <h5 class='popme' data-original-title="Technology" data-content="Filter job offers by technology, showing only the ones which require the selected technologies">Tecnología</h5>
              {{ form_row(form.tecnologia) }}
              <h5 class='popme' data-original-title="Roles" data-content="Show only job offers which involve one of the selected roles.c">Rol</h5>
              {{ form_row(form.rol) }}
              <h5 class='popme' data-original-title="Hierarchy" data-content="Show only job offers targeted towards the selected degrees of experience in the position">Jerarquia</h5>
              {{ form_row(form.jerarquia) }}
              
              {{ form_rest(form) }}
              <br>
              <button class="btn popme" type="submit"  formnovalidate="" data-original-title="Apply filters" data-content="Apply all filters as selected above and refresh the job offers list accordingly">Filtrar</button>
          </div>
    </form>
</div>

<div class="span9">
    <h4 class="header popme" data-original-title="Job Offers" data-content="These are all the job offers which match the filters you have entered.">Ofertas Laborales</h4>   
    {% if ofertasLaborales is defined and ofertasLaborales is null %}
    <div class="alert alert-info">
        <button type="button" class="close" data-dismiss="alert">×</button>
        <strong>Oooh!</strong>  Parece que no se han encontrado ofertas laborales con los filtros ingresados.
    </div>
    {% endif %}
    
    {% for oferta in ofertasLaborales %}
    <div class="stream">
        <div class="item">
            <img src="{{asset('img/' ~ oferta.user.empresa.pathLogo) | imagine_filter('imagen_empresa')}}" class="avatar"/>
            <p class="date">Fin de la oferta: {{ oferta.fechaFin | date('d-m-Y')}}</p>
            <h4 class='popme' data-original-title="Job Offer" data-content="Click here to review the details about this job offer. Registered users may apply for this job offer."> <a  href="{{ url('default_show_oferta', {idOferta : oferta.id }) }}">{{ oferta.titulo }}</a></h4>
          <div class="row">
            <p class="span6">{{ oferta.descripcion }}</p>
          </div>
        </div>
    </div>
    {% endfor %}
    <span id="example" class="popme icon-question-sign" data-content="Choose between different job offers to view more detailed information about them" data-original-title="Job Offerss"></span>
</div>

  


{% endblock %}
