{% block curriculum %}
<div class="span7">
    <div class="accordion" >
        <div class="accordion-group" id="datos-contacto">
            <div class="accordion-heading" >                    
                <h4 class="accordion-toggle" data-toggle="collapse" data-parent="#datos-contacto" data-target="#collapseOne">Datos de Contacto<i class="icon-chevron-right pull-right"></i></h4 >			
            </div>
            <div id="collapseOne" class="accordion-body collapse in">
                <div class="accordion-inner">
                    <table class="table table-striped">
                        {% if curriculum.datosPersonales is not empty %}
                        {% set datos = curriculum.datosPersonales %}
                        <tbody>
                            <tr>
                                <th class="span2">Nombre</th>
                                <td class="span5">{{datos.nombre}}</td>
                            </tr>
                            <tr>
                                <th>Apellido</th>
                                <td>{{datos.apellido}}</td>
                            </tr>
                            <tr>
                                <th>Domicilio</th>
                                <td>{{datos.calle}} {{datos.numeroCalle}} - 
                                    {{datos.localidad.nombre}}, {{datos.provincia.nombre}}</td>
                            </tr>
                            <tr>
                                <th>Fecha de Nacimiento</th>
                                <td>{{ datos.fechaNacimiento | date('d-m-Y')}}</td>
                            </tr>
                            <tr>
                                <th>Nacionalidad</th>
                                <td>{{ datos.nacionalidad}}</td>
                            </tr>
                            <tr>
                                <th>Estado Civil</th>
                                <td>{{ datos.estadoCivil | lower}}</td>
                            </tr>
                            <tr>
                                <th>Hijos</th>
                                <td>{{ datos.hijos}}</td>
                            </tr>
                            <tr>
                                <th>Email</th>
                                <td><a>{{ datos.email }}</a></td>
                            </tr>
                            <tr>
                                <th>Telefono Principal</th>
                                <td>{{ datos.telefono1 }}</td>
                            </tr>
                            <tr>
                                <th>Telefono Secundario</th>
                                <td>{{ datos.telefono2 }}</td>
                            </tr>
                            <tr>
                                <td></td>
                                <td><a class="pull-right" href="{{url('default_nuevos_datos_personales')}}">Modificar</a></td>
                            </tr>
                        </tbody>
                        {% endif %}
                    </table>
                </div>      
                {% if curriculum.datosPersonales is null %}
                <div class="accordion-inner">
                    
                    <a href="{{url('default_nuevos_datos_personales')}}" >Agregar</a>
                        
                </div>
                {% endif %}
            </div>
        </div><!--fin datos personales-->
        <div class="accordion-group" id="educacion">
            <div class="accordion-heading" >                    
                <h4 class="accordion-toggle" data-toggle="collapse" data-parent="#datos-contacto" data-target="#educacion-collapse">Educación <i class="icon-chevron-right pull-right"></i></h4 >			
            </div>
            <div id="educacion-collapse" class="accordion-body collapse in">
                {% set estudios = curriculum.estudios %}
                {% for estudio in estudios %}
                <div class="accordion-inner">
                    <h5>{{ estudio.titulo }}</h5>
                    <h6>{{ estudio.institucion }}</h6>
                    <ul>
                        <li>Carrera de nivel {{estudio.nivelEstudio | lower}}</li>
                        {% if estudio.fechaInicio is not null or estudio.fechaFin is not null %}
                        <li>{{estudio.fechaInicio | date('Y')}} - {{estudio.fechaFin | date('Y')}}
                            {% if estudio.estadoEstudio == "ENCURSO"%}(esperado){% endif %}</li>
                        {% endif %}
                        {% if estudio.promedio is not null %}<li>Promedio: {{ estudio.promedio }}</li>{% endif %}
                    </ul>
                    <a href="{{url('default_nuevo_estudio', {idEstudio: estudio.id})}}" class="">Modificar</a> -                    
                    <a href="#myModal" data-toggle="modal">Eliminar</a>
                </div>
                    
                <div class="modal hide fade" id="myModal">
                    <div class="modal-header alert-danger">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                        <h4 id="myModalLabel">¿Desea eliminar el estudio?</h4>
                    </div>
                    <div class="modal-footer">
                        <a href="{{url('default_eliminar_estudio', {idEstudio: estudio.id})}}" class="btn">Si</a>
                        <button class="btn btn-inverse" data-dismiss="modal">No</button>
                    </div>
                </div>
                {% endfor %}
                {% if estudios is empty %}
                <div class="accordion-inner">                 
                    <p><strong>Todavía no cargaste ningun estudio. Comenza a agregarlos para 
                            que tu curriculum este más completo.</strong> </p>
                </div>                  
                {% endif %}
                <div class="accordion-inner">
                    <a class="pull-right" href="{{url('default_nuevo_estudio', {idEstudio: -1})}}">Agregar</br></br></a>
                </div>
            </div>
                
            
        </div><!--fin estudios-->

        <div class="accordion-group" id="experiencia">
            <div class="accordion-heading" >                    
                <h4 class="accordion-toggle" data-toggle="collapse"  data-target="#experiencia-collapse">Experiencia Laboral <i class="icon-chevron-right pull-right"></i></h4 >			
            </div>
            <div id="experiencia-collapse" class="accordion-body collapse in">
                {% set experienciasLaborales = curriculum.experienciasLaborales %}
                {% for exp in experienciasLaborales %}
                <div class="accordion-inner">
                    <h5>{{exp.empresa}} - {{exp.cargo.nombre}}</h5>
                    <h6>Desde: {{exp.fechaInicio | date('F')}} {{exp.fechaInicio | date('Y')}} a 
                               {{exp.fechaFin | date('F')}} {{exp.fechaFin | date('Y')}}</h6>
                    <p>{{exp.descripcionFuncion}}</p>
                    
                    <ul>
                        {% if exp.personasACargo is not null%}
                            <li>Personas a cargo: {{exp.personasACargo}}</li>
                        {% endif %}
                        {% if exp.motivoFinalizacion is not null %}
                            <li>Motivo finalizacion: {{exp.motivoFinalizacion}}</li>
                        {% endif %}                      
                    </ul>
                     <a href="{{url('default_nueva_experiencialaboral', {idExpLab: exp.id})}}" class="">Modificar</a> -                    
                    <a href="#myModalExperienciaLaboral" data-toggle="modal">Eliminar</a>
                </div>
                    <div class="modal hide fade" id="myModalExperienciaLaboral">
                        <div class="modal-header alert-danger">
                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                            <h5 id="myModalLabel">¿Desea eliminar la experiencia laboral?</h5>
                        </div>
                        <div class="modal-footer">
                            <a href="{{url('default_eliminar_experiencialaboral', {idExpLab: exp.id})}}" class="btn">Si</a>
                            <button class="btn btn-inverse" data-dismiss="modal">No</button>
                        </div>
                    </div>
                {% endfor %}
                {% if experienciasLaborales is empty %}
                <div class="accordion-inner">                 
                    <p><strong>Todavía no cargaste ninguna experiencia laboral. Comenza a agregarlos para 
                            que tu curriculum este más completo.</strong> </p>
                </div>                  
                {% endif %}
                <div class="accordion-inner">       
                    <a class="pull-right" href="{{url('default_nueva_experiencialaboral', {idExpLab: -1})}}">Agregar</br></br></a>
                </div>
            </div><!--fin experiencia laboral-->
        </div>
        
        <div class="accordion-group" id="idiomas">
            <div class="accordion-heading" >                    
                <h4 class="accordion-toggle" data-toggle="collapse"  data-target="#idiomas-collapse">Idiomas <i class="icon-chevron-right pull-right"></i></h4 >			
            </div>
            <div id="idiomas-collapse" class="accordion-body collapse in">
                {% set idiomas = curriculum.idiomas %}
                {% for idioma in idiomas %}
                <div class="accordion-inner">
                    <h5>{{idioma.idioma.idioma}}</h5>
                    <ul>
                        <li>Nivel 
                            <ul>
                                <li>Oral: {{ idioma.nivelOral | lower }}</li>
                                <li>Lectura: {{ idioma.nivelLectura | lower }}</li>
                                <li>Escritura: {{ idioma.nivelEscrito | lower }}</li>
                            </ul>                                                                 
                        
                        </li>
                            
                           {%if idioma.certificados is not empty%}
                            <h6>Certificados</h6>
                            
                            {% for certificado in idioma.certificados%}
                                <li>
                                    {{certificado.nombre}} - {{certificado.institucion}} - {{certificado.fechaEmision|date('Y')}}
                                </li>
                            
                            {%endfor%}
                            
                            {%endif%}                        
                       
                                
                        
                    </ul>
                    <a href="{{url('default_nuevo_idiomapostulante', {idIdioma: idioma.id})}}" class="">Modificar</a> -                    
                    <a href="#myModalIdioma" data-toggle="modal">Eliminar</a>
                </div>
                <div class="modal hide fade" id="myModalIdioma">
                    <div class="modal-header alert-danger">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                        <h5 id="myModalLabel">¿Desea eliminar el idioma?</h5>
                    </div>
                    <div class="modal-footer">
                        <a href="{{url('default_eliminar_idiomapostulante', {idIdioma: idioma.id})}}" class="btn">Si</a>
                        <button class="btn btn-inverse" data-dismiss="modal">No</button>
                    </div>
                </div>
                {% endfor %}
                {% if idiomas is empty %}
                <div class="accordion-inner">                 
                    <p><strong>Todavía no cargaste ninguna idioma. Comenza a agregarlos para 
                            que tu curriculum este más completo.</strong> </p>
                </div>                  
                {% endif %}
                <div class="accordion-inner">
                    <a href="{{url('default_nuevo_idiomapostulante', {idIdioma: -1})}}" class="pull-right">Agregar</br></br></a>
                </div>
            </div>
        </div><!--fin idiomas-->
        
        <div class="accordion-group" id="cursos">
            <div class="accordion-heading" >                    
                <h4 class="accordion-toggle" data-toggle="collapse" data-target="#cursos-collapse">Cursos <i class="icon-chevron-right pull-right"></i></h4 >			
            </div>
            <div id="cursos-collapse" class="accordion-body collapse in">
                {% for curso in curriculum.cursos %}
                <div class="accordion-inner">
                    <h5>{{curso.titulo}}</h5>
                    <h6>{{curso.institucion}} - {{curso.fechaFin | date('Y')}}</h6>
                    <ul>
                        <li>Duración: {{curso.duracion}} hs</li>
                    </ul>
                    {{curso.descripcion}}
                    <a href="{{url('default_nuevo_curso', {idCurso: curso.id})}}" class="">Modificar</a> -                    
                    <a href="#myModalIdioma" data-toggle="modal">Eliminar</a>
                    
                <div class="modal hide fade" id="myModalIdioma">
                    <div class="modal-header alert-danger">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                        <h5 id="myModalLabel">¿Desea eliminar el curso?</h5>
                    </div>
                    <div class="modal-footer">
                        <a href="{{url('default_eliminar_curso', {idCurso: curso.id})}}" class="btn">Si</a>
                        <button class="btn btn-inverse" data-dismiss="modal">No</button>
                    </div>
                </div>
                </div>
                {% endfor %}
                {% if curriculum.cursos is empty %}
                <div class="accordion-inner">                 
                    <p><strong>Todavía no cargaste ninguna curso. Si tienes hecho algunos, agregalos para 
                            que tu curriculum este más completo.</strong> </p>
                </div>                  
                {% endif %}
                <div class="accordion-inner">
                    <a href="{{url('default_nuevo_curso', {idCurso: -1})}}" class="pull-right">Agregar</br></br></a>
                </div>
            </div>
        </div><!--fin cursos-->
        
        <div class="accordion-group" id="conocimientos">
            <div class="accordion-heading" >                    
                <h4 class="accordion-toggle" data-toggle="collapse"  data-target="#conocimientos-collapse">Conocimientos / Habilidades <i class="icon-chevron-right pull-right"></i></h4 >			
            </div>
            <div id="conocimientos-collapse" class="accordion-body collapse in">
                <div class="accordion-inner">
                    {% for conocimientos in curriculum.conocimientos %}
                    {% if conocimientos.nivelConocimiento == 'BAJO' %}
                        <span class="tag alert-danger">{{conocimientos.tecnologia.nombre}}</span>
                    {% elseif conocimientos.nivelConocimiento == 'MEDIO' %}
                        <span class="tag alert">{{conocimientos.tecnologia.nombre}}</span>
                    {% elseif conocimientos.nivelConocimiento == 'ALTO' %}
                        <span class="tag">{{conocimientos.tecnologia.nombre}}</span>
                    {% elseif conocimientos.nivelConocimiento == 'EXPERTO' %}
                        <span class="tag alert-success">{{conocimientos.tecnologia.nombre}}</span>
                    {% endif %}
                    {% endfor %}
                {% if curriculum.conocimientos is empty %}
                <div class="accordion-inner">                 
                    <p><strong>Todavía no cargaste ningun conocimiento. Comenza a agregarlos para 
                            que tu curriculum este más completo.</strong> </p>
                </div>                  
                {% else %}                                  
                    <a href="#myModalCono" class="" data-toggle="modal">Detalles</br></br></a>  
                    
                    <div class="modal hide fade" id="myModalCono">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                            <h5 id="myModalLabel">Conocimientos/Habilidades</h5>
                        </div>
                        <div class="modal-body">
                            {% for conocimiento in curriculum.conocimientos %}
                                <h5>{{ conocimiento.tecnologia.nombre }}</h5>
                                <ul>
                                    <li>Nivel: {{ conocimiento.nivelConocimiento | lower }}</li>
                                    {%if conocimiento.descripcion is not null %}
                                    <li>{{conocimiento.descripcion}}</li>
                                    {% endif %}
                                    <a href="{{url('default_eliminar_conocimiento', {idConocimiento: conocimiento.id})}}">Eliminar</a>
                                </ul> 
                            {% endfor %}
                        </div>
                        <div class="modal-footer">
                            <button class="btn btn-inverse" data-dismiss="modal">Salir</button>
                        </div>
                    </div>
                {% endif %}
                <div class="accordion-inner">
                    <a href="{{url('default_nuevo_conocimiento')}}" class="pull-right">Agregar</br></br></a>
                </div>
                </div>
            </div>
        </div><!--fin conocimientos-->

        <div class="accordion-group" id="adicional">
            <div class="accordion-heading" >                    
                <h4 class="accordion-toggle" data-toggle="collapse"  data-target="#adicional-collapse">Información Adicional <i class="icon-chevron-right pull-right"></i></h4 >			
            </div>
            <div id="adicional-collapse" class="accordion-body collapse in">
                <div class="accordion-inner">
                {% if curriculum.informacionExtra is empty %}
                <div class="accordion-inner">                 
                    <p><strong>Todavía no cargaste ninguna informacion extra. 
                           </strong> </p>
                </div>                  
                {% else %}    
                    {% for infoExtra in curriculum.informacionExtra %}
                        <ul>
                            <li> {{infoExtra.descripcion}} <a href="{{url('default_eliminar_informacion_extra', {idInformacionExtra: infoExtra.id})}}">Eliminar</a></li>
                        </ul>
                    {% endfor %}
                          
                {%endif%}
                    
                <div class="accordion-inner">
                    
                     <a href="#myModalInfoExtra" class="pull-right" data-toggle="modal">Agregar</br></br></a>  
                </div>
                <div class="modal hide fade" id="myModalInfoExtra">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                                <h5 id="myModalLabel">Informacion Extra</h5>
                            </div>
                            <div class="modal-body">
                                <form method="POST" name="informacionForm" id="infoForm" action="{{url('default_nueva_informacion_extra', {idInformacionExtra: -1})}}">
                                   <textarea id="descripcion" cols="40" rows="5"  name="descripcion"></textarea><br>
                                  
                                  <input type="submit" value="Guardar">
                                </form>
                                    
                            </div>
                            <div class="modal-footer">
                                <button class="btn btn-inverse" data-dismiss="modal">Salir</button>
                            </div>
                </div>
                </div>
            </div>
        </div><!--fin info adicional-->
    </div>
</div>
{% endblock %}
