{% extends '::base.html.twig' %}

{% block title %}Listado de CV{% endblock %}

{% block content %}
<div class="span3">
    <form class="form-horizontal" action="{{ path('default_filtrar_cv', {idOferta: oferta.id}) }}" method="post" {{ form_enctype(form) }}>
          <h4 class="header">Filtros</h4>
          <div class="filters">
              <h5>¿Desea que el titulo universitario sea excluyente?</h5>
              {{ form_row(form.tituloExcluyente) }}
              
              <h5>¿Desea que el idioma {{oferta.idioma.idioma}} sea excluyente?</h5>
              {{ form_row(form.idiomaExcluyente) }}
              
              <h5>¿Mostrar CVs que no cumplieron con ningun requerimiento?</h5>
              {{ form_row(form.listarCVReqNoCumplidos) }}
                  
              <h5>Sexo preferente del postulante: </h5>
              {{ form_row(form.sexo) }}
              
              <h5>Conocimientos Requeridos</h5>
              <ul id="requerimientos" data-prototype="Tecnología: {{ form_row(form.requerimientos.vars.prototype.tecnologia) |e }} {{"<BR/>" | e}} Nivel: {{"<BR/>" | e}}{{ form_row(form.requerimientos.vars.prototype.nivel) |e }} {{"<BR/>" | e}}Puntaje: {{"<BR/>" | e}} {{ form_row(form.requerimientos.vars.prototype.puntaje) |e }} {{"<BR/>" | e}} {{ form_row(form.requerimientos.vars.prototype.nivel) |e }}"  >
                    {% for requerimiento in form.requerimientos %}
                    <li>Tecnología:<br/>{{ form_row(requerimiento.tecnologia) }} <br/>Nivel:<br/>{{ form_row(requerimiento.nivel) }}<br/>Puntaje:<br/>{{ form_row(requerimiento.puntaje) }}<br/> </li>
                {% endfor %}
              </ul>
              
              
              <h5>¿Que conocimientos deberían ser excluyentes?</h5>
              <div class="accordion" id="accordion2">
                <div class="accordion-group">
                  <div class="accordion-heading">
                    <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseOne">
                      Listado de tecnologías
                    </a>
                  </div>
                  <div id="collapseOne" class="accordion-body collapse ">
                    <div class="accordion-inner">
                      {{ form_row(form.tecnologia) }}
                    </div>
                  </div>
                </div>
              </div>
              
              <h5>¿Experiencia previa?</h5>
              <div class="form-horizontal">
              {{ form_row(form.cargo) }} 
              <br>
              <br>
              {{ form_row(form.anos) }}  
              </div>
              
              {{ form_rest(form) }}
              <br>              
              <button class="btn" type="submit"  formnovalidate="">Filtrar</button>
              <a role="button" class="btn btn-inverse" href="{{url('default_listado_cv', {idOferta : oferta.id})}}">Limpiar Filtros</a>
          </div>
    </form>
</div>
<div class="span9">
{% if filtros is defined and filtros is not empty %}
    <h5>Filtros aplicados</h5>
    {% for filtro in filtros %}
    <span class="tag">{{filtro}}</span>
    {% endfor %}
{% endif%}


<h4 class="header">Listado de Curriculums</h4>
    <table class="table table-striped sortable">
    <thead>
      <tr>
        <th>Nombre</th>
        <th>Apellido</th>
        <th>Email</th>
        <th>Teléfono</th>
        <th>Puntaje</th>
        <th>Cumple requerimientos</th>
      </tr>
    </thead>
    <tbody>
        {% if curriculums is empty %}
        <div class="alert alert-info">
            <button type="button" class="close" data-dismiss="alert">×</button>
            <strong>Oooh!</strong>  Parece que no hay ningún postulante con los requisitos especificados.
        </div>
        {% endif %}
      {% for curriculum in curriculums %}
      <tr>
        <td>{{curriculum.datosPersonales.nombre}}</td>
        <td>{{curriculum.datosPersonales.apellido}}</td>
        <td><a href="#">{{curriculum.datosPersonales.email}}</a></td>
        <td>{{curriculum.datosPersonales.telefono1}}</td>
        <td><span class="label label-info">{{curriculum.puntaje}}</span></td>
        <td>
            {% set p = curriculum.porcentajeReqCumplidos*100%}
            {% if p <= 100 and p >= 90 %}
                <span class="label label-success">{{p  | number_format(2)}}%</span>
            {% elseif p < 90 and p >= 70 %}
                <span class="label label-warning">{{p | number_format(2)}}%</span>
            {% elseif p < 70 and p > 40 %}
                <span class="label">{{p | number_format(2)}}%</span></td>
            {% else %}
                <span class="label label-important">{{p | number_format(2)}}%</span>
            {% endif %}
        </td>
        <td><a href="{{url('default_show_cv_postulante', {idCurriculum: curriculum.id})}}">Ver CV</a></td>
      </tr>
      {% endfor %}
    </tbody>
</table>
</div>

<div class = "span9">

</div>

<script>
    // Get the ul that holds the collection of tags
var collectionHolder = $('#requerimientos');

// setup an "add a tag" link
var $addRequerimientoLink = $('<a href="#" class="add_requerimiento_link">Añadir requerimiento</a>');
var $newLinkLi = $('<li></li>').append($addRequerimientoLink);

jQuery(document).ready(function() {
    // add a delete link to all of the existing tag form li elements
    collectionHolder.find('li').each(function() {
        addRequerimientoFormDeleteLink($(this));
    });
    // add the "add a tag" anchor and li to the tags ul
    collectionHolder.append($newLinkLi);

    // count the current form inputs we have (e.g. 2), use that as the new
    // index when inserting a new item (e.g. 2)
    collectionHolder.data('index', collectionHolder.find(':input').length);

    $addRequerimientoLink.on('click', function(e) {
        // prevent the link from creating a "#" on the URL
        e.preventDefault();

        // add a new tag form (see next code block)
        addRequerimientoForm(collectionHolder, $newLinkLi);
    });
});

function addRequerimientoForm(collectionHolder, $newLinkLi) {
    // Get the data-prototype explained earlier
    var prototype = collectionHolder.data('prototype');

    // get the new index
    var index = collectionHolder.data('index');

    // Replace '__name__' in the prototype's HTML to
    // instead be a number based on how many items we have
    var newForm = prototype.replace(/__name__/g, index);

    // increase the index with one for the next item
    collectionHolder.data('index', index + 1);
    
      
    
    // Display the form in the page in an li, before the "Add a tag" link li    
    var $newFormLi = $('<li></li>').append(newForm);
    $newLinkLi.before($newFormLi);
    
    // add a delete link to the new form
    addRequerimientoFormDeleteLink($newFormLi); 
    
     
    
}

function addRequerimientoFormDeleteLink($tagFormLi) {
    var $removeFormA = $('<a href="#">Quitar este requerimiento</a>');
    $tagFormLi.append($removeFormA);

    $removeFormA.on('click', function(e) {
        // prevent the link from creating a "#" on the URL
        e.preventDefault();

        // remove the li for the tag form
        $tagFormLi.remove();
    });
}
</script>
{% endblock %}
