{% extends '::layoutPanelEmpresa.html.twig' %}

{% block contentPanel %}

{% if user is defined %}
<div class="span9">
    <h4>Información de Usuario</h4>
</div>

<div class="span6 offset1">
<table class="table table-striped">
<tbody>
  
  {% if is_granted('ROLE_ADMIN') %}  
    <tr>
        <td><img src="{{asset('img/' ~ user.empresa.pathLogo) | imagine_filter('imagen_empresa')}}" class="avatar"/></td>
        <td colspan="3"><strong><h4>{{user.empresa.nombre}}</h4></strong></td>
    </tr>
    <tr>
        <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
        <td colspan="3"><strong>Username: </strong> {{user.username}}
    <br><strong>Nombre: </strong> {{user.nombre}} {{user.apellido}} </td>
    </tr>
  {% else %}
    <tr>
        <td><img src="{{asset('img/userLogo.png') | imagine_filter('imagen_empresa')}}" class="avatar"/></td>
        <td colspan="3"><strong><h4>{{user.nombre}} {{user.apellido}}</h4></strong></td>
    </tr>
    <tr>
      <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
      <td colspan="3"><strong>Username: </strong> {{user.username}}
    </tr>
  {% endif %}
  <tr>
    <td></td>
    <td colspan="3"><strong>Email: </strong> {{user.email}}
    <br><strong>Telefono: </strong> {{user.telefono}}</td>
  </tr>
  <tr>
    <td></td>
    <td colspan="3">Dado de alta el día {{user.fechaAlta | date('d-m-Y')}}<br><br>
  </tr>
</tbody>
</table>
</div>
{% endif %}

{% if form is defined %}
<div class="span9">
    <h4>Modificar Datos de Usuario</h4>
</div>

<div class="span6 offset1">
    <form class="form-horizontal" action="{{ path('default_modificar_datos_empresa') }}" method="post" {{ form_enctype(form) }}>           
        <div class="control-group">                
            {{ form_label(form.nombre, label|default(null), { 'label_attr': { 'class': 'control-label' } }) }}
        <div class="controls">
            {{ form_widget(form.nombre)}}
            {{form_errors(form.nombre)}}
        </div>
        </div>

        <div class="control-group">                
            {{ form_label(form.apellido, label|default(null), { 'label_attr': { 'class': 'control-label' } }) }}
        <div class="controls">
            {{ form_widget(form.apellido)}}
            {{form_errors(form.apellido)}}
        </div>
        </div>

        <div class="control-group">                
            {{ form_label(form.email, label|default(null), { 'label_attr': { 'class': 'control-label' } }) }}
        <div class="controls">
            {{ form_widget(form.email)}}
            {{form_errors(form.email)}}
        </div>
        </div>

        <div class="control-group">                
            {{ form_label(form.username, label|default(null), { 'label_attr': { 'class': 'control-label' } }) }}
        <div class="controls">
            {{ form_widget(form.username)}}
            {{form_errors(form.username)}}
        </div>
        </div>

        <div class="control-group">                
            {{ form_label(form.password.pass, label|default(null), { 'label_attr': { 'class': 'control-label' } }) }}
        <div class="controls">
            {{ form_widget(form.password.pass)}}
            {{form_errors(form.password.pass)}}
        </div>
        </div>

        <div class="control-group">                
            {{ form_label(form.password.confirm, label|default(null), { 'label_attr': { 'class': 'control-label' } }) }}
        <div class="controls">
            {{ form_widget(form.password.confirm)}}
            {{form_errors(form.password.confirm)}}
        </div>
        </div>


        <div class="control-group">                                    
        <div class="controls">
            <button class="btn" type="submit"  formnovalidate="">Modificar Datos</button>
        </div>
        </div>

        {{ form_rest(form) }}
    </form>
</div>
{% endif %}

{% if ofertasSubidas is defined %}
    <div class="span8">
    {% for oferta in ofertasSubidas %}
        <div class="stream">
            <div class="item">
                <img src="{{asset('img/' ~ oferta.user.empresa.pathLogo) | imagine_filter('imagen_empresa')}}" class="avatar"/>
                <p class="date">{{ oferta.fechaInicio | date('d-m-Y')}}</p>
                <h4><a href="{{ url('default_show_oferta', {idOferta : oferta.id }) }}">{{ oferta.titulo }}</a></h4>
              <div class="row">
                <p class="span6">{{ oferta.descripcion }}</p>
              </div>
              <div class="row pull-right">
                <a href="#myModal" data-toggle="modal">Eliminar</a> - 
                <a href="{{url('default_modificar_oferta', {idOferta : oferta.id})}}">Modificar</a>
              </div>
            </div>
        </div>
            
        <div class="modal hide fade" id="myModal">
            <div class="modal-header alert-danger">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h4 id="myModalLabel">¿Desea eliminar la oferta laboral?</h4>
            </div>
            <div class="modal-footer">
                <a href="{{url('default_eliminar_oferta', {idOferta : oferta.id} )}}" class="btn">Si</a>
                <button class="btn btn-inverse" data-dismiss="modal">No</button>
            </div>
        </div>
    {% endfor %}
    {% if ofertasSubidas is null %}
    <div class="alert alert-nfo">
            <button type="button" class="close" data-dismiss="alert">×</button>
            <strong>Oooh!</strong>  Todavía no has subido ninguna oferta laboral.
    </div>
    {% endif %}
    </div>
{% endif %}

{% if curriculum is defined %}
<div class="span9">
    <h4>Mi Curriculum</h4>
</div>
{{ include(
            'DefaultBundle::layoutCurriculum.html.twig',
            { 'curriculum': curriculum}
        ) }}
{% endif %}

{% if aplicaciones is defined %}
<div class="span9">
    <h4>Mis Aplicaciones</h4>
</div>
<div class="span9">
{% for aplicacion in aplicaciones %}
    <div class="stream">
        <div class="item">
            <img src="{{asset('img/' ~ aplicacion.ofertaLaboral.user.empresa.pathLogo) | imagine_filter('imagen_empresa')}}" class="avatar"/>
            <p class="date">Fecha en que apliqué: {{ aplicacion.fechaDeAplicacion | date('d-m-Y')}}</p>
            <h4><a href="{{ url('default_show_oferta', {idOferta : aplicacion.ofertaLaboral.id }) }}">{{ aplicacion.ofertaLaboral.titulo }}</a></h4>
          <div class="row">
              <p class="span6">{{ aplicacion.ofertaLaboral.descripcion | trim(80) }}</p>
          </div>
        </div>
    </div>
{% endfor %}
{% if aplicaciones is null %}
    <div class="alert alert-info">
        <button type="button" class="close" data-dismiss="alert">×</button>
        <strong>Oooops!</strong> Parece que no has aplicado a ningún puesto.
    </div>
{% endif %}
</div>
{% endif %}

{% endblock %}