{% extends '::base.html.twig' %}

{% block title %}Oferta Laboral{% endblock %}

{% block content %}
<div class="span12 header">
    <h4>Información de la oferta</h4>
</div>
<div class="span6 offset3">
<table class="table table-striped">
<tbody>
  <tr>
    <td><img src="{{asset('img/' ~ oferta.user.empresa.pathLogo) | imagine_filter('imagen_empresa')}}" class="avatar"/></td>
    <td colspan="3"><strong>{{oferta.titulo}}</strong><br>
        {{oferta.user.empresa.nombre}}</td>
  </tr>
  <tr>
    <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
    <td colspan="3"><strong>{{ oferta.rol.nombre }}</strong> - <strong>{{ oferta.jerarquia | lower }}</strong></td>
  </tr>
  <tr>
    <td></td>
    <td colspan="3">{{ oferta.descripcion }}</td>
  </tr>
  <tr>
    <td></td>
    <td>Jornada <strong>{{ oferta.jornada | lower }}</strong><br><br>
        <strong>Requerimientos:</strong></td>
    <td>Vacantes: <strong>{{oferta.vacantes}}</strong></td>
    <td></td>
  </tr>
  {% if oferta.requerimientos is not empty %}
    {% for requerimiento in oferta.requerimientos %}
    <tr>
      <td></td>
      <td>Conocimientos en: <strong>{{ requerimiento.tecnologia.nombre }}</strong></td>
      <td>Nivel: <strong>{{ requerimiento.nivel | lower }}</strong></td>
      <td></td>
    </tr>
    {% endfor %}
  {% else %}
    <tr>
      <td></td>
      <td colspan="3">No se han especificado conocimientos requeridos para este puesto.</td>
      <td></td>
      <td></td>
    </tr>
  {% endif %}
  {% if is_granted('ROLE_USER') and app.user.curriculum is not null and not is_granted('ROLE_ADMIN') %}
    <tr>
      <td></td>
      <td></td>
      <td></td>
      <td><a href="#myModalApl" data-toggle="modal" class="btn btn-info">Aplicar a este puesto!</a></td>
    </tr>
  {% endif %}
  {% if is_granted('ROLE_ADMIN') and app.user.empresa.id == oferta.user.empresa.id  %}
    <tr>
      <td></td>
      <td></td>
      <td></td>
      <td><a href="{{url('default_listado_cv', {idOferta : oferta.id})}}" class="btn btn-info">Ver aspirantes a este puesto</a></td>
    </tr>
  {% endif %}
</tbody>
</table>
</div>

<div class="modal hide fade" id="myModalApl">
    <div class="modal-header alert-info">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h5 id="myModalLabel">¿Esta seguro que quiere aplicar a esta oferta?</h5>
    </div>
    <div class="modal-body">
        <p>Una vez que aplique no podrá volver atrás. A menos que 
        consiga una máquina del tiempo...</p>
    </div>    
    <div class="modal-footer">
        <a href="{{url('default_nueva_aplicacion', {idOferta: oferta.id})}}" class="btn">Si</a>
        <button class="btn btn-info" data-dismiss="modal">No</button>
    </div>
</div>
{% endblock %}
