{% extends '::base.html.twig' %}

{% block title %}Login{% endblock %}

{% block content %}

<div class="span12">
{% if error %}
    <div class="alert alert-error">
        <button type="button" class="close" data-dismiss="alert">×</button>
        <strong>Ooops!</strong>  {{ error.message }}
    </div>
{% endif %}
</div>

<div class="span6 offset3">
<form class="form-horizontal" action="{{ path('login_check') }}" method="post">
    <div class="control-group">
        <div class="controls">
          <h4>Login</h4>
        </div>
    </div>
    <div class="control-group">
        <label for="username" class="control-label">Nombre de Usuario </label>
        <div class="controls">
            <input type="text" placeholder="Nombre de Usuario" id="username" name="_username" value="{{ last_username }}" />
        </div>
    </div>
        
    <div class="control-group">
        <label for="password" class="control-label">Contraseña </label>
        <div class="controls">
            <input type="password" placeholder="Contraseña" id="password" name="_password" />
        </div>
    </div>

    {#
        If you want to control the URL the user
        is redirected to on success (more details below)
        <input type="hidden" name="_target_path" value="/account" />
    #}
        
    <div class="control-group">
        <div class="controls">
            <button class="btn" type="submit">Ingresar</button>
        </div>
    </div>

</form>
</div>
{% endblock %}