{% extends '::base.html.twig' %}

{% block title %}Registrate!{% endblock %}

{% block content %}
<div class="span12 header">
    <h4>Registro</h4>
</div>
<div class="span12">
    {% for flashMessage in app.session.flashbag.get('error') %}
        <div class="alert alert-error">
            <button type="button" class="close" data-dismiss="alert">×</button>
            <strong>Ooops!</strong>  {{ flashMessage }}
        </div>
    {% endfor %}
        
    {% for flashMessage in app.session.flashbag.get('exito') %}
        <div class="alert alert-success">
            <button type="button" class="close" data-dismiss="alert">×</button>
            <strong>Well done!</strong>  {{ flashMessage }}
        </div>
    {% endfor %}
</div>

<div class="span6">
    <form class="form-horizontal" action="{{ path('default_new_user') }}" method="post" {{ form_enctype(form) }}>           
        <div class="control-group">                
            {{ form_label(form.nombre, label|default(null), { 'label_attr': { 'class': 'control-label' } }) }}
        <div class="controls">
            {{ form_widget(form.nombre)}}
            {{form_errors(form.nombre)}}
        </div>
        </div>

        <div class="control-group">                
            {{ form_label(form.apellido, label|default(null), { 'label_attr': { 'class': 'control-label' } }) }}
        <div class="controls">
            {{ form_widget(form.apellido)}}
            {{form_errors(form.apellido)}}
        </div>
        </div>

        <div class="control-group">                
            {{ form_label(form.email, label|default(null), { 'label_attr': { 'class': 'control-label' } }) }}
        <div class="controls">
            {{ form_widget(form.email)}}
            {{form_errors(form.email)}}
        </div>
        </div>

        <div class="control-group">                
            {{ form_label(form.username, label|default(null), { 'label_attr': { 'class': 'control-label' } }) }}
        <div class="controls">
            {{ form_widget(form.username)}}
            {{form_errors(form.username)}}
        </div>
        </div>

        <div class="control-group">                
            {{ form_label(form.password.pass, label|default(null), { 'label_attr': { 'class': 'control-label' } }) }}
        <div class="controls">
            {{ form_widget(form.password.pass)}}
            {{form_errors(form.password.pass)}}
        </div>
        </div>

        <div class="control-group">                
            {{ form_label(form.password.confirm, label|default(null), { 'label_attr': { 'class': 'control-label' } }) }}
        <div class="controls">
            {{ form_widget(form.password.confirm)}}
            {{form_errors(form.password.confirm)}}
        </div>
        </div>

        <div class="control-group">                                    
        <div class="controls">
            <button class="btn" type="submit"  formnovalidate="">Registrarme</button>
        </div>
        </div>

        {{ form_rest(form) }}
    </form>
</div>
{% endblock %}
