{% extends '::base.html.twig' %}

{% block title %}Cargar Curso{% endblock %}

{% block content %}
<div class="span12 header">
    <h4>Cargar Nuevo Estudio</h4>
</div>
<div class="span12">
    {% for flashMessage in app.session.flashbag.get('error') %}
        <div class="alert alert-error">
            <button type="button" class="close" data-dismiss="alert">×</button>
            <strong>Ooops!</strong>  {{ flashMessage }}
        </div>
    {% endfor %}
</div>

<div class="span6">   
    <form class="form-horizontal" action="{{ path('default_nuevo_curso', {idCurso: idCurso}) }}" method="post" {{ form_enctype(form) }}>           
        <div class="control-group">                
            {{ form_label(form.titulo, label|default(null), { 'label_attr': { 'class': 'control-label' } }) }}
            <div class="controls">
                {{ form_widget(form.titulo)}}
                {{form_errors(form.titulo)}}
            </div>
        </div>
        <div class="control-group">                
            {{ form_label(form.institucion, label|default(null), { 'label_attr': { 'class': 'control-label' } }) }}
            <div class="controls">
                {{ form_widget(form.institucion)}}
                {{form_errors(form.institucion)}}
            </div>
        </div>
        <div class="control-group">                
            {{ form_label(form.fechaFin, label|default(null), { 'label_attr': { 'class': 'control-label' } }) }}
            <div class="controls">
                {{ form_widget(form.fechaFin)}}
                {{form_errors(form.fechaFin)}}
            </div>
        </div>
        <div class="control-group">                
            {{ form_label(form.duracion, label|default(null), { 'label_attr': { 'class': 'control-label' } }) }}
            <div class="controls">
                {{ form_widget(form.duracion)}}
                {{form_errors(form.duracion)}}
            </div>
        </div>
        <div class="control-group">                
            {{ form_label(form.descripcion, label|default(null), { 'label_attr': { 'class': 'control-label' } }) }}
            <div class="controls">
                {{ form_widget(form.descripcion)}}
                {{form_errors(form.descripcion)}}
            </div>
        </div>
            
        <div class="control-group">                                    
            <div class="controls">
                <button class="btn" type="submit"  formnovalidate="">Guardar Curso</button>
            </div>
        </div>
            
        {{ form_rest(form) }}
    </form>   
</div>

{% endblock %}
