{% extends '::base.html.twig' %}



{% block title %}Registrar Curriculum{% endblock %}

{% block content %}
<div class="span12 header">
    <h4>Registrar Curriculum</h4>
</div>
<div class="span12">
    {% for flashMessage in app.session.flashbag.get('error') %}
        <div class="alert alert-error">
            <button type="button" class="close" data-dismiss="alert">×</button>
            <strong>Ooops!</strong>  {{ flashMessage }}
        </div>
    {% endfor %}
</div>
<div class="span12">
<form id="curriculum" class="form-horizontal" method="POST" action="{{ path('default_nuevo_curriculum') }}" {{ form_enctype(form) }}>

<div class="tabbable">
  <ul class="nav nav-tabs">
    <li class="active">
      <a href="#1" data-toggle="tab">Datos Personales</a>
    </li>
    
    <li>
      <a href="#2" data-toggle="tab">Conocimientos</a>
    </li>   
    <li>
      <a href="#3" data-toggle="tab">Experiencia Laboral</a>
    </li> 
    <li>
      <a href="#4" data-toggle="tab">Idiomas</a>
    </li> 
    <li class="active">
      <a href="#5" data-toggle="tab">Estudios</a>
    </li>
  </ul>
  <div class="tab-content">
    <div class="tab-pane" id="1">
         <div class="row-fluid">
        <div class="span6">
        <h5>Datos Personales</h5>
        
                <div class="control-group">                
                    {{ form_label(form.datosPersonales.nombre, label|default(null), { 'label_attr': { 'class': 'control-label' } }) }}
                <div class="controls">
                    {{ form_widget(form.datosPersonales.nombre)}}
                    {{form_errors(form.datosPersonales.nombre)}}
                </div>
                </div>
                <div class="control-group">                
                    {{ form_label(form.datosPersonales.apellido, label|default(null), { 'label_attr': { 'class': 'control-label' } }) }}
                <div class="controls">
                    {{ form_widget(form.datosPersonales.apellido)}}
                    {{form_errors(form.datosPersonales.apellido)}}
                </div>
                </div>
        <div class="control-group">                
                    {{ form_label(form.datosPersonales.fechaNacimiento, label|default(null), { 'label_attr': { 'class': 'control-label' } }) }}
                <div class="controls">
                    {{ form_widget(form.datosPersonales.fechaNacimiento)}}
                    {{form_errors(form.datosPersonales.fechaNacimiento)}}
                </div>
                </div>
        <div class="control-group">                
                    {{ form_label(form.datosPersonales.sexo, label|default(null), { 'label_attr': { 'class': 'control-label' } }) }}
                <div class="controls">
                    {{ form_widget(form.datosPersonales.sexo)}}
                    {{form_errors(form.datosPersonales.sexo)}}
                </div>
                </div>
        <div class="control-group">                
                    {{ form_label(form.datosPersonales.nacionalidad, label|default(null), { 'label_attr': { 'class': 'control-label' } }) }}
                <div class="controls">
                    {{ form_widget(form.datosPersonales.nacionalidad)}}
                    {{form_errors(form.datosPersonales.nacionalidad)}}
                </div>
                </div>
        <div class="control-group">                
                    {{ form_label(form.datosPersonales.estadoCivil, label|default(null), { 'label_attr': { 'class': 'control-label' } }) }}
                <div class="controls">
                    {{ form_widget(form.datosPersonales.estadoCivil)}}
                    {{form_errors(form.datosPersonales.estadoCivil)}}
                </div>
                </div>
        <div class="control-group">                
                    {{ form_label(form.datosPersonales.hijos, label|default(null), { 'label_attr': { 'class': 'control-label' } }) }}
                <div class="controls">
                    {{ form_widget(form.datosPersonales.hijos)}}
                    {{form_errors(form.datosPersonales.hijos)}}
                </div>
                </div>
        </div>
                 <div class="span6">
        <h5>Datos Domicilio</h5>
                <div class="control-group">                
                    {{ form_label(form.datosPersonales.provincia, label|default(null), { 'label_attr': { 'class': 'control-label' } }) }}
                <div class="controls">
                    {{ form_widget(form.datosPersonales.provincia)}}
                    {{form_errors(form.datosPersonales.provincia)}}
                </div>
                </div>
        <div class="control-group">                
                    {{ form_label(form.datosPersonales.localidad, label|default(null), { 'label_attr': { 'class': 'control-label' } }) }}
                <div class="controls">
                    {{ form_widget(form.datosPersonales.localidad)}}
                    {{form_errors(form.datosPersonales.localidad)}}
                </div>
                </div>
        <div class="control-group">                
                    {{ form_label(form.datosPersonales.calle, label|default(null), { 'label_attr': { 'class': 'control-label' } }) }}
                <div class="controls">
                    {{ form_widget(form.datosPersonales.calle)}}
                    {{form_errors(form.datosPersonales.calle)}}
                </div>
                </div>
        <div class="control-group">                
                    {{ form_label(form.datosPersonales.numeroCalle, label|default(null), { 'label_attr': { 'class': 'control-label' } }) }}
                <div class="controls">
                    {{ form_widget(form.datosPersonales.numeroCalle)}}
                    {{form_errors(form.datosPersonales.numeroCalle)}}
                </div>
                </div>
        
        
        
        </div>
                  <div class="span6">
        <h5>Datos Contacto</h5>
        
        <div class="control-group">                
                    {{ form_label(form.datosPersonales.telefono1, label|default(null), { 'label_attr': { 'class': 'control-label' } }) }}
                <div class="controls">
                    {{ form_widget(form.datosPersonales.telefono1)}}
                    {{form_errors(form.datosPersonales.telefono1)}}
                </div>
                </div>
        
        <div class="control-group">                
                    {{ form_label(form.datosPersonales.telefono2, label|default(null), { 'label_attr': { 'class': 'control-label' } }) }}
                <div class="controls">
                    {{ form_widget(form.datosPersonales.telefono2)}}
                    {{form_errors(form.datosPersonales.telefono2)}}
                </div>
                </div>
        
        <div class="control-group">                
                    {{ form_label(form.datosPersonales.email, label|default(null), { 'label_attr': { 'class': 'control-label' } }) }}
                <div class="controls">
                    {{ form_widget(form.datosPersonales.email)}}
                    {{form_errors(form.datosPersonales.email)}}
                </div>
                </div>
                  </div>
        </div>
            
            {{ form_rest(form.datosPersonales) }}
    </div>
     
    
    <div class="tab-pane" id="2"><!-- CONOCIMIENTOS -->
      
      <div class="row-fluid">
        <div class="span6">
            <h5>Conocimientos</h5>
        </div>
               <ul id="conocimientos" class="conocimientos unstyled" data-prototype="{{ form_widget(form.conocimientos.vars.prototype)|e }}">
            
              {% for conocimiento in form.conocimientos %}
            <li>      
                <div class="form-inline"> 
                    
                     <div class="row-fluid">
                        <div class="span6"><!-- columna Izquierda-->
                            <div class="control-group">                
                                {{ form_label(conocimiento.tecnologia, label|default(null), { 'label_attr': { 'class': 'control-label' } }) }}
                                <div class="controls">
                                    {{ form_widget(conocimiento.tecnologia)}}
                                    {{form_errors(conocimiento.tecnologia)}}
                                </div>
                            </div>
                            
                              
                                
                                <div class="control-group">                
                                {{ form_label(conocimiento.nivelConocimiento, label|default(null), { 'label_attr': { 'class': 'control-label' } }) }}
                                <div class="controls">
                                    {{ form_widget(conocimiento.nivelConocimiento)}}
                                    {{form_errors(conocimiento.nivelConocimiento)}}
                                </div>
                            </div>
                                
                                <div class="control-group">                
                                {{ form_label(conocimiento.descripcion, label|default(null), { 'label_attr': { 'class': 'control-label' } }) }}
                                <div class="controls">
                                    {{ form_widget(conocimiento.descripcion)}}
                                    {{form_errors(conocimiento.descripcion)}}
                                </div>
                            </div>
                        </div><!-- fin columna izquierda-->
                        
                        <div class="span6"><!--columna derecha-->
                            
                            
                            
                        </div>
                                          
                    </div>
                 
                
                 
                
                </div>
            </li>
            {% endfor %}
            </ul>
              </div>
    </div>
          
    <div class="tab-pane" id="3"><!-- EXPERIENCIA LABORAL-->
      
      <div class="row-fluid">
        <div class="span6">
            <h5>Experiencia Laboral</h5>
            <ul id="experienciaLaboral" class="experienciasLaborales unstyled" data-prototype="{{ form_widget(form.experienciasLaborales.vars.prototype)|e }}">
                              
        {% for exp in form.experienciasLaborales %}
            <li>      
                <div class="form-inline"> 
                    
                     <div class="row-fluid">
                        <div class="span6"><!-- columna Izquierda-->
                            <div class="control-group">                
                                {{ form_label(exp.empresa, label|default(null), { 'label_attr': { 'class': 'control-label' } }) }}
                                <div class="controls">
                                    {{ form_widget(exp.empresa)}}
                                    {{form_errors(exp.empresa)}}
                                </div>
                            </div>
                             <div class="control-group">                
                                {{ form_label(exp.cargo, label|default(null), { 'label_attr': { 'class': 'control-label' } }) }}
                                <div class="controls">
                                    {{ form_widget(exp.cargo)}}
                                    {{form_errors(exp.cargo)}}
                                </div>
                            </div>
                                  
                                <div class="control-group">                
                                {{ form_label(exp.jerarquia, label|default(null), { 'label_attr': { 'class': 'control-label' } }) }}
                                <div class="controls">
                                    {{ form_widget(exp.jerarquia)}}
                                    {{form_errors(exp.jerarquia)}}
                                </div>
                            </div>
                                <div class="control-group">                
                                {{ form_label(exp.personasACargo, label|default(null), { 'label_attr': { 'class': 'control-label' } }) }}
                                <div class="controls">
                                    {{ form_widget(exp.personasACargo)}}
                                    {{form_errors(exp.personasACargo)}}
                                </div>
                            </div>
                                <div class="control-group">                
                                {{ form_label(exp.fechaInicio, label|default(null), { 'label_attr': { 'class': 'control-label' } }) }}
                                <div class="controls">
                                    {{ form_widget(exp.fechaInicio)}}
                                    {{form_errors(exp.fechaInicio)}}
                                </div>
                            </div>
                                <div class="control-group">                
                                {{ form_label(exp.fechaFin, label|default(null), { 'label_attr': { 'class': 'control-label' } }) }}
                                <div class="controls">
                                    {{ form_widget(exp.fechaFin)}}
                                    {{form_errors(exp.fechaFin)}}
                                </div>
                            </div>
                                <div class="control-group">                
                                {{ form_label(exp.motivoFinalizacion, label|default(null), { 'label_attr': { 'class': 'control-label' } }) }}
                                <div class="controls">
                                    {{ form_widget(exp.motivoFinalizacion)}}
                                    {{form_errors(exp.motivoFinalizacion)}}
                                </div>
                            </div>
                                <div class="control-group">                
                                {{ form_label(exp.descripcionFuncion, label|default(null), { 'label_attr': { 'class': 'control-label' } }) }}
                                <div class="controls">
                                    {{ form_widget(exp.descripcionFuncion)}}
                                    {{form_errors(exp.descripcionFuncion)}}
                                </div>
                            </div>
                        </div><!-- fin columna izquierda-->
                        
                        <div class="span6"><!--columna derecha-->
                            
                            
                            
                        </div>
                                          
                    </div>
                 
                
                 
                
                </div>
            </li>
            {% endfor %}
       </ul>
        </div>
              </div>
    </div>
          
        <div class="tab-pane" id="4"><!-- IDIOMA -->
              <ul id="idiomas" class="idiomas unstyled" data-prototype="{{ form_widget(form.idiomas.vars.prototype)|e }}">
                    <h5>Idiomas</h5>            
        {% for idioma in form.idiomas %}
            <li>      
                <div class="form-inline"> 
                    
                     <div class="row-fluid">
                        <div class="span6"><!-- columna Izquierda-->
                            <div class="control-group">                
                                {{ form_label(idioma.idioma, label|default(null), { 'label_attr': { 'class': 'control-label' } }) }}
                                <div class="controls">
                                    {{ form_widget(idioma.idioma)}}
                                    {{form_errors(idioma.idioma)}}
                                </div>
                            </div>
                             
                                <div class="control-group">                
                                {{ form_label(idioma.nivelLectura, label|default(null), { 'label_attr': { 'class': 'control-label' } }) }}
                                <div class="controls">
                                    {{ form_widget(idioma.nivelLectura)}}
                                    {{form_errors(idioma.nivelLectura)}}
                                </div>
                            </div>
                                <div class="control-group">                
                                {{ form_label(idioma.nivelOral, label|default(null), { 'label_attr': { 'class': 'control-label' } }) }}
                                <div class="controls">
                                    {{ form_widget(idioma.nivelOral)}}
                                    {{form_errors(idioma.nivelOral)}}
                                </div>
                            </div>
                                <div class="control-group">                
                                {{ form_label(idioma.nivelEscrito, label|default(null), { 'label_attr': { 'class': 'control-label' } }) }}
                                <div class="controls">
                                    {{ form_widget(idioma.nivelEscrito)}}
                                    {{form_errors(idioma.nivelEscrito)}}
                                </div>
                            </div>
                                <div class="control-group">                
                                {{ form_label(idioma.nivelComprension, label|default(null), { 'label_attr': { 'class': 'control-label' } }) }}
                                <div class="controls">
                                    {{ form_widget(idioma.nivelComprension)}}
                                    {{form_errors(idioma.nivelComprension)}}
                                </div>
                            </div>
                        </div><!-- fin columna izquierda-->
                        
                        <div class="span6"><!--columna derecha-->
                            
                            
                            
                        </div>
                                          
                    </div>
                 
                
                 
                
                </div>
            </li>
            {% endfor %}
       </ul>
        </div>  
           
          <div class="tab-pane" id="5">      
        <h5>Estudios</h5>
                                          
            <ul id="estudios" class="estudios unstyled" data-prototype="{{ form_widget(form.estudios.vars.prototype)|e }}">
            {% for estudio in form.estudios %}
            <li>      
                <div class="form-inline"> 
                    
                     <div class="row-fluid">
                        <div class="span6"><!-- columna Izquierda-->
                                            
                            <div class="control-group">                
                                {{ form_label(estudio.titulo, label|default(null), { 'label_attr': { 'class': 'control-label' } }) }}
                                <div class="controls">
                                    {{ form_widget(estudio.titulo)}}
                                    {{form_errors(estudio.titulo)}}
                                </div>
                            </div>
                            <div class="control-group">                
                                {{ form_label(estudio.institucion, label|default(null), { 'label_attr': { 'class': 'control-label' } }) }}
                                <div class="controls">
                                    {{ form_widget(estudio.institucion)}}
                                    {{form_errors(estudio.institucion)}}
                                </div>
                            </div>
                            <div class="control-group">                
                                {{ form_label(estudio.nivelEstudio, label|default(null), { 'label_attr': { 'class': 'control-label' } }) }}
                                <div class="controls">
                                    {{ form_widget(estudio.nivelEstudio)}}
                                    {{form_errors(estudio.nivelEstudio)}}
                                </div>
                            </div>
                            <div class="control-group">                
                                {{ form_label(estudio.estadoEstudio, label|default(null), { 'label_attr': { 'class': 'control-label' } }) }}
                                <div class="controls">
                                    {{ form_widget(estudio.estadoEstudio)}}
                                    {{form_errors(estudio.estadoEstudio)}}
                                </div>
                            </div>
                            <div class="control-group">                
                                {{ form_label(estudio.descripcion, label|default(null), { 'label_attr': { 'class': 'control-label' } }) }}
                                <div class="controls">
                                    {{ form_widget(estudio.descripcion)}}
                                    {{form_errors(estudio.descripcion)}}
                                </div>
                            </div>              
                        </div><!-- fin columna izquierda-->
                        
                        <div class="span6"><!--columna derecha-->
                            
                            <div class="control-group">                
                                {{ form_label(estudio.promedio, label|default(null), { 'label_attr': { 'class': 'control-label' } }) }}
                                <div class="controls">
                                    {{ form_widget(estudio.promedio)}}
                                    {{form_errors(estudio.promedio)}}
                                </div>
                            </div>
                            <div class="control-group">                
                                {{ form_label(estudio.fechaInicio, label|default(null), { 'label_attr': { 'class': 'control-label' } }) }}
                                <div class="controls">
                                    {{ form_widget(estudio.fechaInicio)}}
                                    {{form_errors(estudio.fechaInicio)}}
                                </div>
                            </div>
                            <div class="control-group">                
                                {{ form_label(estudio.fechaFin, label|default(null), { 'label_attr': { 'class': 'control-label' } }) }}
                                <div class="controls">
                                    {{ form_widget(estudio.fechaFin)}}
                                    {{form_errors(estudio.fechaFin)}}
                                </div>
                            </div>
                            <div class="control-group">                
                                {{ form_label(estudio.materiasTotales, label|default(null), { 'label_attr': { 'class': 'control-label' } }) }}
                                <div class="controls">
                                    {{ form_widget(estudio.materiasTotales)}}
                                    {{form_errors(estudio.materiasTotales)}}
                                </div>
                            </div>
                            <div class="control-group">                
                                {{ form_label(estudio.materiasAprobadas, label|default(null), { 'label_attr': { 'class': 'control-label' } }) }}
                                <div class="controls">
                                    {{ form_widget(estudio.materiasAprobadas)}}
                                    {{form_errors(estudio.materiasAprobadas)}}
                                </div>
                            </div>
                        </div>
                                          
                    </div>
                 
                
                 
                
                </div>
            </li>
            {% endfor %}
       </ul>
        {{ form_rest(form.estudios) }}
        </div><!-- fin tab 1 (estudios)-->
  </div>
  </div>

        <div class="control-group">                                    
        <div class="controls">
            <button class="btn" type="submit"  formnovalidate="">Guardar Curriculum</button>
        </div>
        </div>
</form>
</div>

 <script type="text/javascript">
    // Toma el ul que contiene los estudios
    var collectionHolder = $('ul.estudios');

    // setea y agrega un link para agregar un estudio
    var $addEstudioLink = $('<a href="#" class="add_estudio_link">Agregar Estudio</a>');
    var $newLinkLi = $('<li></li>').append($addEstudioLink);

    jQuery(document).ready(function() {
        // agrega el link
        collectionHolder.append($newLinkLi);

        // cuenta la cantidad de inputs agregados y lo usa como indice para agregar el proximo estudio.
        collectionHolder.data('index', collectionHolder.find(':input').length);

        $addEstudioLink.on('click', function(e) {
            e.preventDefault();

            // agrega un nuevo estudio.
            addEstudioForm(collectionHolder, $newLinkLi);
        });
    });
    
    function addEstudioForm(collectionHolder, $newLinkLi) {
        // Obtiene el data-prototype de Symfony
        var prototype = collectionHolder.data('prototype');

        // obtiene el indice
        var index = collectionHolder.data('index');

        // Reemplaza el '__name__' en el data-prototype por el indice obtenido antes
        var newForm = prototype.replace(/__name__/g, index);

        // incrementa el indice
        collectionHolder.data('index', index + 1);

        var $newFormLi = $('<li></li><br>').append(newForm);
        $newLinkLi.before($newFormLi);
    }
    </script>
{% endblock %}
