{% extends '::base.html.twig' %}



{% block title %}Cargar Datos Personales{% endblock %}

{% block content %}
<div class="span12 header">
    <h4>Cargar Nuevo Datos Personales</h4>
</div>
<div class="span12">
    {% for flashMessage in app.session.flashbag.get('error') %}
        <div class="alert alert-error">
            <button type="button" class="close" data-dismiss="alert">×</button>
            <strong>Ooops!</strong>  {{ flashMessage }}
        </div>
    {% endfor %}
</div>
    
    <form class="form-horizontal" action="{{ path('default_nuevos_datos_personales') }}" method="post" {{ form_enctype(form) }}>           
           
        
                                          
            
                  
             
                    
                
        <div class="span6">
                <h5>Datos Personales</h5>
        
                <div class="control-group">                
                    {{ form_label(form.nombre, label|default(null), { 'label_attr': { 'class': 'control-label' } }) }}
                <div class="controls">
                    {{ form_widget(form.nombre)}}
                    {{form_errors(form.nombre)}}
                </div>
                </div>
                <div class="control-group">                
                    {{ form_label(form.apellido, label|default(null), { 'label_attr': { 'class': 'control-label' } }) }}
                <div class="controls">
                    {{ form_widget(form.apellido)}}
                    {{form_errors(form.apellido)}}
                </div>
                </div>
        <div class="control-group">                
                    {{ form_label(form.fechaNacimiento, label|default(null), { 'label_attr': { 'class': 'control-label' } }) }}
                <div class="controls">
                    {{ form_widget(form.fechaNacimiento)}}
                    {{form_errors(form.fechaNacimiento)}}
                </div>
                </div>
        <div class="control-group">                
                    {{ form_label(form.sexo, label|default(null), { 'label_attr': { 'class': 'control-label' } }) }}
                <div class="controls">
                    {{ form_widget(form.sexo)}}
                    {{form_errors(form.sexo)}}
                </div>
                </div>
        <div class="control-group">                
                    {{ form_label(form.nacionalidad, label|default(null), { 'label_attr': { 'class': 'control-label' } }) }}
                <div class="controls">
                    {{ form_widget(form.nacionalidad)}}
                    {{form_errors(form.nacionalidad)}}
                </div>
                </div>
        <div class="control-group">                
                    {{ form_label(form.estadoCivil, label|default(null), { 'label_attr': { 'class': 'control-label' } }) }}
                <div class="controls">
                    {{ form_widget(form.estadoCivil)}}
                    {{form_errors(form.estadoCivil)}}
                </div>
                </div>
        <div class="control-group">                
                    {{ form_label(form.hijos, label|default(null), { 'label_attr': { 'class': 'control-label' } }) }}
                <div class="controls">
                    {{ form_widget(form.hijos)}}
                    {{form_errors(form.hijos)}}
                </div>
                </div>
        </div>
                 <div class="span6">
        <h5>Datos Domicilio</h5>
                <div class="control-group">                
                    {{ form_label(form.provincia, label|default(null), { 'label_attr': { 'class': 'control-label' } }) }}
                <div class="controls">
                    {{ form_widget(form.provincia)}}
                    {{form_errors(form.provincia)}}
                </div>
                </div>
        <div class="control-group">                
                    {{ form_label(form.localidad, label|default(null), { 'label_attr': { 'class': 'control-label' } }) }}
                <div class="controls">
                    {{ form_widget(form.localidad)}}
                    {{form_errors(form.localidad)}}
                </div>
                </div>
        <div class="control-group">                
                    {{ form_label(form.calle, label|default(null), { 'label_attr': { 'class': 'control-label' } }) }}
                <div class="controls">
                    {{ form_widget(form.calle)}}
                    {{form_errors(form.calle)}}
                </div>
                </div>
        <div class="control-group">                
                    {{ form_label(form.numeroCalle, label|default(null), { 'label_attr': { 'class': 'control-label' } }) }}
                <div class="controls">
                    {{ form_widget(form.numeroCalle)}}
                    {{form_errors(form.numeroCalle)}}
                </div>
                </div>
        
        
        
        </div>
                  <div class="span6">
        <h5>Datos Contacto</h5>
        
        <div class="control-group">                
                    {{ form_label(form.telefono1, label|default(null), { 'label_attr': { 'class': 'control-label' } }) }}
                <div class="controls">
                    {{ form_widget(form.telefono1)}}
                    {{form_errors(form.telefono1)}}
                </div>
                </div>
        
        <div class="control-group">                
                    {{ form_label(form.telefono2, label|default(null), { 'label_attr': { 'class': 'control-label' } }) }}
                <div class="controls">
                    {{ form_widget(form.telefono2)}}
                    {{form_errors(form.telefono2)}}
                </div>
                </div>
        
                <div class="control-group">                
                    {{ form_label(form.email, label|default(null), { 'label_attr': { 'class': 'control-label' } }) }}
                <div class="controls">
                    {{ form_widget(form.email)}}
                    {{form_errors(form.email)}}
                </div>
                </div>
        </div>
        
                
                 
                
           {{ form_rest(form) }}
        
        <div class="control-group">                                    
            <div class="controls">
                <button class="btn" type="submit"  formnovalidate="">Guardar Datos Personales</button>
            </div>
        </div>
        </div><!-- fin (datos personales)-->
        
        
    </form>

  

{% endblock %}
