{% extends '::base.html.twig' %}

{% block title %}Cargar Conocimiento{% endblock %}

{% block content %}
<div class="span12 header">
    <h4>Cargar Nuevo Conocimiento</h4>
</div>
<div class="span12">
    {% for flashMessage in app.session.flashbag.get('error') %}
        <div class="alert alert-error">
            <button type="button" class="close" data-dismiss="alert">×</button>
            <strong>Ooops!</strong>  {{ flashMessage }}
        </div>
    {% endfor %}
</div>
    
<form class="form-horizontal" action="{{ path('default_nuevo_conocimiento') }}" method="post" {{ form_enctype(form) }}>           
         
    <div class="span6"><!-- columna Izquierda-->

        <div class="control-group">                
            {{ form_label(form.tecnologia, label|default(null), { 'label_attr': { 'class': 'control-label' } }) }}
            <div class="controls">
                {{ form_widget(form.tecnologia)}}
                {{form_errors(form.tecnologia)}}
            </div>
        </div>

        <div class="control-group">                
            {{ form_label(form.nivelConocimiento, label|default(null), { 'label_attr': { 'class': 'control-label' } }) }}
            <div class="controls">
                {{ form_widget(form.nivelConocimiento)}}
                {{form_errors(form.nivelConocimiento)}}
            </div>
        </div>

        <div class="control-group">                
            {{ form_label(form.descripcion, label|default(null), { 'label_attr': { 'class': 'control-label' } }) }}
            <div class="controls">
                {{ form_widget(form.descripcion)}}
                {{form_errors(form.descripcion)}}
            </div>
        </div>
    {{ form_rest(form) }}

    <div class="control-group">                                    
        <div class="controls">
            <button class="btn" type="submit"  formnovalidate="">Guardar Conocimiento</button>
        </div>
    </div>
    </div><!-- fin columna izquierda-->

    <div class="span6"><!--columna derecha-->        
    </div>
                 
               
                
</form>

  

{% endblock %}
