{% extends '::base.html.twig' %}



{% block title %}Cargar Experiencia Laboral{% endblock %}

{% block content %}
<div class="span12 header">
    <h4>Cargar Nueva Experiencia Laboral</h4>
</div>
<div class="span12">
    {% for flashMessage in app.session.flashbag.get('error') %}
        <div class="alert alert-error">
            <button type="button" class="close" data-dismiss="alert">×</button>
            <strong>Ooops!</strong>  {{ flashMessage }}
        </div>
    {% endfor %}
</div>
    
    <form class="form-horizontal" action="{{ path('default_nueva_experiencialaboral',{idExpLab: idExpLab}) }}" method="post" {{ form_enctype(form) }}>           
           
                                          
            
                  
             
                    
                <div class="row-fluid">
                        <div class="span6"><!-- columna Izquierda-->
                            <div class="control-group">                
                                {{ form_label(form.empresa, label|default(null), { 'label_attr': { 'class': 'control-label' } }) }}
                                <div class="controls">
                                    {{ form_widget(form.empresa)}}
                                    {{form_errors(form.empresa)}}
                                </div>
                            </div>
                             <div class="control-group">                
                                {{ form_label(form.cargo, label|default(null), { 'label_attr': { 'class': 'control-label' } }) }}
                                <div class="controls">
                                    {{ form_widget(form.cargo)}}
                                    {{form_errors(form.cargo)}}
                                </div>
                            </div>
                                  
                                <div class="control-group">                
                                {{ form_label(form.jerarquia, label|default(null), { 'label_attr': { 'class': 'control-label' } }) }}
                                <div class="controls">
                                    {{ form_widget(form.jerarquia)}}
                                    {{form_errors(form.jerarquia)}}
                                </div>
                            </div>
                                <div class="control-group">                
                                {{ form_label(form.personasACargo, label|default(null), { 'label_attr': { 'class': 'control-label' } }) }}
                                <div class="controls">
                                    {{ form_widget(form.personasACargo)}}
                                    {{form_errors(form.personasACargo)}}
                                </div>
                            </div>
                                <div class="control-group">                
                                {{ form_label(form.fechaInicio, label|default(null), { 'label_attr': { 'class': 'control-label' } }) }}
                                <div class="controls">
                                    {{ form_widget(form.fechaInicio)}}
                                    {{form_errors(form.fechaInicio)}}
                                </div>
                            </div>
                                <div class="control-group">                
                                {{ form_label(form.fechaFin, label|default(null), { 'label_attr': { 'class': 'control-label' } }) }}
                                <div class="controls">
                                    {{ form_widget(form.fechaFin)}}
                                    {{form_errors(form.fechaFin)}}
                                </div>
                            </div>
                                <div class="control-group">                
                                {{ form_label(form.motivoFinalizacion, label|default(null), { 'label_attr': { 'class': 'control-label' } }) }}
                                <div class="controls">
                                    {{ form_widget(form.motivoFinalizacion)}}
                                    {{form_errors(form.motivoFinalizacion)}}
                                </div>
                            </div>
                                <div class="control-group">                
                                {{ form_label(form.descripcionFuncion, label|default(null), { 'label_attr': { 'class': 'control-label' } }) }}
                                <div class="controls">
                                    {{ form_widget(form.descripcionFuncion)}}
                                    {{form_errors(form.descripcionFuncion)}}
                                </div>
                            </div>
                        </div><!-- fin columna izquierda-->
                        
                        <div class="span6"><!--columna derecha-->
                            
                            
                            
                        </div>
                                          
                    </div>
                
                 
                
           {{ form_rest(form) }}
        
        <div class="control-group">                                    
            <div class="controls">
                <button class="btn" type="submit"  formnovalidate="">Guardar Experiencia Laboral</button>
            </div>
        </div>
        </div><!-- fin (experiencia Laboral)-->
        
        
    </form>

  

{% endblock %}
