{% extends '::base.html.twig' %}


{% block title %}Cargar Estudio{% endblock %}

{% block content %}
<div class="span12 header">
    <h4>Cargar Nuevo Estudio</h4>
</div>
<div class="span12">
    {% for flashMessage in app.session.flashbag.get('error') %}
        <div class="alert alert-error">
            <button type="button" class="close" data-dismiss="alert">×</button>
            <strong>Ooops!</strong>  {{ flashMessage }}
        </div>
    {% endfor %}
</div>
    
    <form class="form-horizontal" action="{{ path('default_nuevo_estudio', {idEstudio: idEstudio}) }}" method="post" {{ form_enctype(form) }}>           
                     
                        <div class="span6"><!-- columna Izquierda-->
                                         
                            <div class="control-group">                
                                {{ form_label(form.titulo, label|default(null), { 'label_attr': { 'class': 'control-label' } }) }}
                                <div class="controls">
                                    {{ form_widget(form.titulo)}}
                                    {{form_errors(form.titulo)}}
                                </div>
                            </div>
                            <div class="control-group">                
                                {{ form_label(form.institucion, label|default(null), { 'label_attr': { 'class': 'control-label' } }) }}
                                <div class="controls">
                                    {{ form_widget(form.institucion)}}
                                    {{form_errors(form.institucion)}}
                                </div>
                            </div>
                            <div class="control-group">                
                                {{ form_label(form.nivelEstudio, label|default(null), { 'label_attr': { 'class': 'control-label' } }) }}
                                <div class="controls">
                                    {{ form_widget(form.nivelEstudio)}}
                                    {{form_errors(form.nivelEstudio)}}
                                </div>
                            </div>
                            <div class="control-group">                
                                {{ form_label(form.estadoEstudio, label|default(null), { 'label_attr': { 'class': 'control-label' } }) }}
                                <div class="controls">
                                    {{ form_widget(form.estadoEstudio)}}
                                    {{form_errors(form.estadoEstudio)}}
                                </div>
                            </div>
                            <div class="control-group">                
                                {{ form_label(form.descripcion, label|default(null), { 'label_attr': { 'class': 'control-label' } }) }}
                                <div class="controls">
                                    {{ form_widget(form.descripcion)}}
                                    {{form_errors(form.descripcion)}}
                                </div>
                            </div>     
                            
                            
            <div class="control-group">                                    
                <div class="controls">
                    <button class="btn" type="submit"  formnovalidate="">Guardar Estudio</button>
                </div>
            </div>
        
                        </div><!-- fin columna izquierda-->
                        
                        <div class="span6"><!--columna derecha-->
                            
                            <div class="control-group">                
                                {{ form_label(form.promedio, label|default(null), { 'label_attr': { 'class': 'control-label' } }) }}
                                <div class="controls">
                                    {{ form_widget(form.promedio)}}
                                    {{form_errors(form.promedio)}}
                                </div>
                            </div>
                            <div class="control-group">                
                                {{ form_label(form.fechaInicio, label|default(null), { 'label_attr': { 'class': 'control-label' } }) }}
                                <div class="controls">
                                    {{ form_widget(form.fechaInicio)}}
                                    {{form_errors(form.fechaInicio)}}
                                </div>
                            </div>
                            <div class="control-group">                
                                {{ form_label(form.fechaFin, label|default(null), { 'label_attr': { 'class': 'control-label' } }) }}
                                <div class="controls">
                                    {{ form_widget(form.fechaFin)}}
                                    {{form_errors(form.fechaFin)}}
                                </div>
                            </div>
                            <div class="control-group">                
                                {{ form_label(form.materiasTotales, label|default(null), { 'label_attr': { 'class': 'control-label' } }) }}
                                <div class="controls">
                                    {{ form_widget(form.materiasTotales)}}
                                    {{form_errors(form.materiasTotales)}}
                                </div>
                            </div>
                            <div class="control-group">                
                                {{ form_label(form.materiasAprobadas, label|default(null), { 'label_attr': { 'class': 'control-label' } }) }}
                                <div class="controls">
                                    {{ form_widget(form.materiasAprobadas)}}
                                    {{form_errors(form.materiasAprobadas)}}
                                </div>
                            </div>
                        </div>
                                          
                  
                 
               
        {{ form_rest(form) }}
           
        
        
    </form>

  

{% endblock %}
