{% extends '::base.html.twig' %}



{% block title %}Cargar Idioma{% endblock %}

{% block content %}
<div class="span12 header">
    <h4>Cargar Nuevo Idioma</h4>
</div>
<div class="span12">
    {% for flashMessage in app.session.flashbag.get('error') %}
        <div class="alert alert-error">
            <button type="button" class="close" data-dismiss="alert">×</button>
            <strong>Ooops!</strong>  {{ flashMessage }}
        </div>
    {% endfor %}
</div>
    
    <form class="form-horizontal" action="{{path('default_nuevo_idiomapostulante', {idIdioma: idIdioma})}}" method="post" {{ form_enctype(form) }}>           
           
        
                                          
             
                        <div class="span6"><!-- columna Izquierda-->
                            <div class="control-group">                
                                {{ form_label(form.idioma, label|default(null), { 'label_attr': { 'class': 'control-label' } }) }}
                                <div class="controls">
                                    {{ form_widget(form.idioma)}}
                                    {{form_errors(form.idioma)}}
                                </div>
                            </div>
                             
                                <div class="control-group">                
                                {{ form_label(form.nivelLectura, label|default(null), { 'label_attr': { 'class': 'control-label' } }) }}
                                <div class="controls">
                                    {{ form_widget(form.nivelLectura)}}
                                    {{form_errors(form.nivelLectura)}}
                                </div>
                            </div>
                                <div class="control-group">                
                                {{ form_label(form.nivelOral, label|default(null), { 'label_attr': { 'class': 'control-label' } }) }}
                                <div class="controls">
                                    {{ form_widget(form.nivelOral)}}
                                    {{form_errors(form.nivelOral)}}
                                </div>
                            </div>
                                <div class="control-group">                
                                {{ form_label(form.nivelEscrito, label|default(null), { 'label_attr': { 'class': 'control-label' } }) }}
                                <div class="controls">
                                    {{ form_widget(form.nivelEscrito)}}
                                    {{form_errors(form.nivelEscrito)}}
                                </div>
                            </div>
                                <div class="control-group">                
                                {{ form_label(form.nivelComprension, label|default(null), { 'label_attr': { 'class': 'control-label' } }) }}
                                <div class="controls">
                                    {{ form_widget(form.nivelComprension)}}
                                    {{form_errors(form.nivelComprension)}}
                                </div>
                            </div>
                        
                                          
                
                           
                         

                         <div class="control-group">                                    
                             <div class="controls">
                                 <button class="btn" type="submit"  formnovalidate="">Guardar Idioma</button>
                             </div>
                         </div>

        </div><!-- fin columna izquierda-->
                        
            <div class="span6"><!--columna derecha-->
                <h5>Certificados</h5>
                <div class="tab-pane">      
           <ul id="certificados" class="certificados unstyled" data-prototype="{{ form_widget(form.certificados.vars.prototype)|e }}">
            {% for certificado in form.certificados %}
            <li>                       
                 {{ form_widget(certificado.nombre)}}
                 {{form_errors(certificado.nombre)}}
                
                 {{ form_widget(certificado.institucion)}}
                 {{form_errors(certificado.institucion)}}
                
                 {{ form_widget(certificado.fechaEmision)}}
                 {{form_errors(certificado.fechaEmision)}}                   
            </li>
            </br>
            {% endfor %}
       </ul>
       </div>

            </div>
        {{form_rest(form)}}
    </form>

   <script type="text/javascript">
    // Toma el ul que contiene los certificados
    var collectionHolder = $('ul.certificados');

    // setea y agrega un link para agregar un certificado
    var $addCertificadoLink = $('<a href="#" class="add_certificado_link">Agregar Certificado</a>');
    var $newLinkLi = $('<li></li>').append($addCertificadoLink);

    jQuery(document).ready(function() {
        // agrega el link
        collectionHolder.append($newLinkLi);

        // cuenta la cantidad de inputs agregados y lo usa como indice para agregar el proximo certificado.
        collectionHolder.data('index', collectionHolder.find(':input').length);

        $addCertificadoLink.on('click', function(e) {
            e.preventDefault();

            // agrega un nuevo certificado.
            addCertificadoForm(collectionHolder, $newLinkLi);
        });
        
        collectionHolder.find('li').each(function() {
       //addCertificadoFormDeleteLink($(this));
    });
    });
    
    function addCertificadoForm(collectionHolder, $newLinkLi) {
        // Obtiene el data-prototype de Symfony
        var prototype = collectionHolder.data('prototype');

        // obtiene el indice
        var index = collectionHolder.data('index');

        // Reemplaza el '__name__' en el data-prototype por el indice obtenido antes
        var newForm = prototype.replace(/__certificadoIdioma__/g, index);

        // incrementa el indice
        collectionHolder.data('index', index + 1);

        var $newFormLi = $('<li></li>').append(newForm);
        $newLinkLi.before($newFormLi);
        
        addCertificadoFormDeleteLink($newFormLi);
    }
    
    function addCertificadoFormDeleteLink($CertificadoFormLi) {
        var $removeFormA = $('<a href="#">Eliminar </a>');
        $CertificadoFormLi.append($removeFormA);

        $removeFormA.on('click', function(e) {
            // prevent the link from creating a "#" on the URL
            e.preventDefault();

            // remove the li for the tag form
            $CertificadoFormLi.remove();
        });
    }
    </script>
  

{% endblock %}
