{% extends '::base.html.twig' %}



{% block title %}Registrar Oferta Laboral{% endblock %}

{% block content %}
<div class="span12 header">
    <h4>Modificar Oferta Laboral</h4>
</div>
<div class="span12">
    {% for flashMessage in app.session.flashbag.get('error') %}
        <div class="alert alert-error">
            <button type="button" class="close" data-dismiss="alert">×</button>
            <strong>Ooops!</strong>  {{ flashMessage }}
        </div>
    {% endfor %}
    
    {% for flashMessage in app.session.flashbag.get('exito') %}
        <div class="alert alert-error">
            <button type="button" class="close" data-dismiss="alert">×</button>
            <strong>Ooops!</strong>  {{ flashMessage }}
        </div>
    {% endfor %}
</div>
    
<form class="form-horizontal" action="{{ path('default_modificar_oferta', {idOferta : idOferta}) }}" method="post" {{ form_enctype(form) }}>           
    <div class="span6">
        <h5>Oferta Laboral</h5>
        <div class="control-group">                
            {{ form_label(form.titulo, label|default(null), { 'label_attr': { 'class': 'control-label' } }) }}
        <div class="controls">
            {{ form_widget(form.titulo)}}
            {{form_errors(form.titulo)}}
        </div>
        </div>
            
        <div class="control-group">
        <span class="control-label">{{ form_label(form.rol, label|default(null)) }}</span>
        <div class="controls form-inline">          
            {{ form_widget(form.rol)}}
            {{ form_errors(form.rol)}}
                
            {{ form_label(form.jerarquia, label|default(null)) }}
            {{ form_widget(form.jerarquia)}}
            {{ form_errors(form.jerarquia)}}
        </div>
        </div>
            
        <div class="control-group">                
            {{ form_label(form.vacantes, label|default(null), { 'label_attr': { 'class': 'control-label' } }) }}
        <div class="controls">
            {{ form_widget(form.vacantes)}}
            {{form_errors(form.vacantes)}}
        </div>
        </div>
            
        <div class="control-group">                
            {{ form_label(form.jornada, label|default(null), { 'label_attr': { 'class': 'control-label' } }) }}
        <div class="controls">
            {{ form_widget(form.jornada)}}
            {{form_errors(form.jornada)}}
        </div>
        </div>
        
        <div class="control-group">                
            {{ form_label(form.descripcion, label|default(null), { 'label_attr': { 'class': 'control-label' } }) }}
        <div class="controls">
            {{ form_widget(form.descripcion)}}
            {{form_errors(form.descripcion)}}
        </div>
        </div>
        
        <div class="control-group">
        <span class="control-label">{{ form_label(form.fechaInicio, label|default(null)) }}</span>
        <div class="controls form-inline">          
            {{ form_widget(form.fechaInicio)}}
            {{ form_errors(form.fechaInicio)}}
                
            {{ form_label(form.fechaFin, label|default(null)) }}
            {{ form_widget(form.fechaFin)}}
            {{ form_errors(form.fechaFin)}}
        </div>
        </div>
            
        <div class="control-group">                
            {{ form_label(form.provincia, label|default(null), { 'label_attr': { 'class': 'control-label' } }) }}
        <div class="controls">
            {{ form_widget(form.provincia)}}
            {{form_errors(form.provincia)}}
        </div>
        </div>
            
        <div class="control-group">                
            {{ form_label(form.localidad, label|default(null), { 'label_attr': { 'class': 'control-label' } }) }}
        <div class="controls">
            {{ form_widget(form.localidad)}}
            {{form_errors(form.localidad)}}
        </div>
        </div>
            
        
        <div class="control-group">                                    
        <div class="controls">
            <button class="btn" type="submit"  formnovalidate="">Registrar</button>
        </div>
        </div>
    </div>
    <div class="span6">
       <h5>Requerimientos</h5>
       
       <div class="tab-pane">      
           <ul id="requerimientos" class="requerimientos unstyled" data-prototype="{{ form_widget(form.requerimientos.vars.prototype)|e }}">
            {% for requerimiento in form.requerimientos %}
            <li>                       
                 {{ form_widget(requerimiento.tecnologia)}}
                 {{form_errors(requerimiento.tecnologia)}}
                
                 {{ form_widget(requerimiento.nivel)}}
                 {{form_errors(requerimiento.nivel)}}
                
                 {{ form_widget(requerimiento.puntaje)}}
                 {{form_errors(requerimiento.puntaje)}}                   
            </li>
            </br>
            {% endfor %}
       </ul>
       </div>
            {{ form_rest(form) }}
    </div>
    </form>

    <script type="text/javascript">
    // Toma el ul que contiene los requerimentos
    var collectionHolder = $('ul.requerimientos');

    // setea y agrega un link para agregar un requerimiento
    var $addRequerimientoLink = $('<a href="#" class="add_requerimiento_link">Agregar Requerimiento</a>');
    var $newLinkLi = $('<li></li>').append($addRequerimientoLink);

    jQuery(document).ready(function() {
        // agrega el link
        collectionHolder.append($newLinkLi);

        // cuenta la cantidad de inputs agregados y lo usa como indice para agregar el proximo requerimiento.
        collectionHolder.data('index', collectionHolder.find(':input').length);

        $addRequerimientoLink.on('click', function(e) {
            e.preventDefault();

            // agrega un nuevo requerimiento.
            addRequerimientoForm(collectionHolder, $newLinkLi);
        });
    });
    
    function addRequerimientoForm(collectionHolder, $newLinkLi) {
        // Obtiene el data-prototype de Symfony
        var prototype = collectionHolder.data('prototype');

        // obtiene el indice
        var index = collectionHolder.data('index');

        // Reemplaza el '__name__' en el data-prototype por el indice obtenido antes
        var newForm = prototype.replace(/__requerimiento__/g, index);

        // incrementa el indice
        collectionHolder.data('index', index + 1);

        var $newFormLi = $('<li></li><br>').append(newForm);
        $newLinkLi.before($newFormLi);
    }
    </script>

{% endblock %}
